:root {
    --redDesaturated: hsl(0, 36%, 70%);
    --redSoft: hsl(0, 93%, 68%);

    --redDarkGrayish: hsl(0, 6%, 24%);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;

}

html {
    font-family: 'Josefin Sans', sans-serif;

}

body {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    /* background-size: 100px 100px; */
    /* background-size: cover; */
    background-size: auto;
}

h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .4rem;
    color: var(--redDarkGrayish);
}

h1 span {
    font-weight: 300;
    color: var(--redDesaturated);
}

p {
    color: var(--redDesaturated);
    margin-top: 2rem;
}

.main-header {
    
}

.main-header img {
    padding: 2rem 3rem;
    height: 90px;
    width: auto;
}

.illustration {
    background-image: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.main-wrapper {
    padding: 3rem;
    height: 100%;
}

.content {
    margin: 3rem 0;
    text-align: center;
}

.form-wrapper {
    position: relative;
    display: grid;
    place-items: center;
}

input {
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    border: 1px solid var(--redDesaturated);
    color: var(--redDesaturated);
    font-weight: 500;
    font-size: .9rem;
    font-family: 'Josefin Sans', sans-serif;
    background-color: inherit;
}

input:focus {
    outline: none;
    
}

.btn {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    /* background-color: var(--redSoft); */
    display: inline-block;
    padding: .6rem 1.8rem;
    position: absolute;
    /* top: 0; */
    right: 0;
    border-radius: 30rem;
}

.btn img {
    height: 1.5rem;
    width: auto;
    
}

.btn:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 76%), hsl(0, 74%, 84%));

}


@media (min-width:900px) {
    html {
        /* font-family: 'Times New Roman', Times, serif; */
    }

    .main-header, .main-wrapper {
        padding: 0 12rem;
    }

    h1, p {
        text-align: left;
    }

    h1 {
        margin-top: 8rem;
        font-size: 4rem;
        letter-spacing: 15px;
        font-weight: 500;
    }

    p {
        line-height: 1.8;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 610px;
        grid-template-rows: 15% 1fr;
        grid-template-areas: 
        "header illu"
        "main illu";
    }

    .main-header {grid-area: header;}
    .illustration {grid-area: illu;}
    .main-wrapper {grid-area: main;}

    .main-header {
        display: flex;
        align-items: center;
    }
    
    .main-header img {
        padding-left: 0;
    }

    .illustration {
        background-image: url(../images/hero-desktop.jpg);
        background-size: cover;
        height: auto;
    }

    .main-wrapper {
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: cover;
        background-position: -60px 0;
        background-repeat: no-repeat;
    }

    .btn {
        padding: .6rem 2.4rem;
    }
}